{% extends 'base.html' %} {% load static %} {% block extra_head %}
<script>
  const googleMapsApiKey = '{{ google_maps_api_key }}'
  const googleMapsMapId = '{{ google_maps_map_id }}'
</script>
{% endblock extra_head %} {% block content %}
<div class="container mt-3">
  <div class="row justify-content-center">
    <!-- Main content -->
    <div class="col-12 col-lg-8">
      <h1>Discover your next Destination</h1>
      <form method="GET" action="{% url 'home' %}" class="mb-4">
        <div class="row gx-2 gy-2">
          <div class="col-12 col-md-4">
            <input type="text" name="title" class="form-control" placeholder="Search by title" />
          </div>
          <div class="col-12 col-md-4">
            <input
              type="text"
              name="location"
              class="form-control"
              placeholder="Search by location"
            />
          </div>
          <div class="col-6 col-md-2">
            <input type="number" name="min_budget" class="form-control" placeholder="Min budget" />
          </div>
          <div class="col-6 col-md-2">
            <input type="number" name="max_budget" class="form-control" placeholder="Max budget" />
          </div>
          <div class="col-6 col-md-2">
            <button type="button" class="btn btn-secondary w-100" onclick="getLocation()">
              <i class="fas fa-location-arrow"></i> Near Me
            </button>
          </div>
          <div class="col-6 col-md-2">
            <button type="submit" class="btn btn-primary w-100">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </div>
        <input type="hidden" name="latitude" id="latitude" />
        <input type="hidden" name="longitude" id="longitude" />
      </form>

      {% if user.is_authenticated and user.is_staff %}
      <div class="container mt-5">
        <a href="{% url 'add_post' %}" class="btn btn-primary newpost">Add New Post</a>
      </div>
      {% else %}
      <div class="container mt-5">
        <p class="text-muted">Log in to add a new post.</p>
      </div>
      {% endif %}

      <div id="posts-container" data-google-maps-map-id="{{ google_maps_map_id }}">
        {% include 'discover/post_list_partial.html' %}
      </div>

      <div class="text-center mt-4">
        <button id="load-more" class="btn btn-primary">
          <i class="fas fa-sync-alt"></i> Load More
        </button>
      </div>
    </div>

    <!-- Sidebar: visible only on larger screens -->
    <div class="col-lg-4 d-none d-lg-block">
      <div class="user-profile-card">
        <div class="profile-picture mb-3">
          {% if user.profile.profile_picture %}
          <img
            src="{{ user.profile.profile_picture.url }}"
            alt="{{ user.username }}"
            class="img-thumbnail rounded-circle"
            style="width: 150px; height: 150px"
          />
          {% else %}
          <p>No profile picture uploaded.</p>
          {% endif %}
        </div>
        <h3>{{ user.username }}</h3>
        <p>{{ user.email }}</p>
        <div class="favorites">
          <h4>Favorites</h4>
          <ul class="list-group">
            {% for favorite in favorites %}
            <li class="list-group-item">
              <a href="{% url 'post_detail' favorite.post.slug %}">{{ favorite.post.title }}</a>
            </li>
            {% empty %}
            <li class="list-group-item">You have no favorite posts.</li>
            {% endfor %}
          </ul>
        </div>
        <div class="comments">
          <h4>Comments</h4>
          <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item">
              <a href="{% url 'post_detail' comment.post.slug %}">{{ comment.post.title }}</a
              >:<br />
              {{ comment.body }}<br />
              <small class="text-muted">{{ comment.created_on|date:"F d, Y, g:i a" }}</small>
            </li>
            {% empty %}
            <li class="list-group-item">You have no comments.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block extra_script %}
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/google_maps.js' %}"></script>
{% endblock extra_script %}
