{% extends 'base.html' %} {% load static %} {% block extra_head %}
<script>
  const googleMapsApiKey = '{{ google_maps_api_key }}'
  const googleMapsMapId = '{{ google_maps_map_id }}'
</script>
{% endblock extra_head %} {% block content %}
<h1>Discover List</h1>
<div id="posts-container" data-google-maps-map-id="{{ google_maps_map_id }}">
  {% include 'discover/post_list_partial.html' %}
</div>
<div class="text-center mt-4">
  <button id="load-more" class="btn btn-primary">Load More</button>
</div>
{% endblock content %} {% block extra_script %}
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/google_maps.js' %}"></script>
{% endblock extra_script %}
