{% for post in object_list %}
<a href="{% url 'post_detail' post.slug %}" class="post-link">
  <div class="post-card">
    <h2 class="post-title">{{ post.title }}</h2>
    <p class="post-excerpt">{{ post.excerpt }}</p>

    <div class="post-details-row">
      <div class="col-12 col-md-6">
        <p class="post-details">Budget: {{ post.budget }} {{ post.get_currency_display }}</p>
        <p class="post-details">Location: {{ post.location }}</p>
      </div>
      <div class="col-12 col-md-6">
        {% if post.nights %}
        <p class="post-details">Nights: {{ post.nights }}</p>
        {% endif %} {% if post.people %}
        <p class="post-details">People: {{ post.people }}</p>
        {% endif %}
      </div>
    </div>
    <p class="post-subtitle-details">Posted by {{ post.author }} | {{ post.created_on }}</p>
    <div class="masthead">
      <div class="container 1">
        <div class="row g-0">
          <div class="d-none d-md-block col-md-6">
            <div
              id="map-{{ forloop.counter }}"
              class="map-container"
              data-lat="{{ post.latitude }}"
              data-lng="{{ post.longitude }}"
              style="height: 200px"
            ></div>
          </div>
          <div class="col-md-6">
            <img
              src="{{ post.featured_image.url }}"
              class="scale"
              alt="featured image"
              style="height: 200px; object-fit: cover; width: 100%"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
{% endfor %}
