{% for post in object_list %}
<a href="{% url 'post_detail' post.slug %}" class="post-link">
  <div class="post-card">
    <h2 class="post-title">{{ post.title }}</h2>
    <p class="post-excerpt">{{ post.excerpt }}</p>
    <p class="post-details">Author: {{ post.author }}</p>
    <p class="post-details">Budget: {{ post.budget }} {{ post.get_currency_display }}</p>
    <p class="post-details">Location: {{ post.location }}</p>
    {% if post.nights %}
    <p class="post-details">Nights: {{ post.nights }}</p>
    {% endif %} {% if post.people %}
    <p class="post-details">People: {{ post.people }}</p>
    {% endif %}
    <div
      id="map-{{ forloop.counter }}"
      class="map-container"
      data-lat="{{ post.latitude }}"
      data-lng="{{ post.longitude }}"
      style="height: 200px"
    ></div>
  </div>
</a>
{% endfor %}
