{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-5">
  <h1>User Profile</h1>
  <div class="user-profile">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Personal Information</h5>
        <p class="card-text"><strong>Username:</strong> {{ user.username }}</p>
        <p class="card-text"><strong>First name:</strong> {{ user.first_name }}</p>
        <p class="card-text"><strong>Last name:</strong> {{ user.last_name }}</p>
        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
        <a href="{% url 'update_user_info' %}" class="btn btn-secondary mt-3">Update Information</a>
        <a href="{% url 'account_reset_password' %}" class="btn btn-secondary mt-3"
          >Change Password</a
        >
        <div class="profile-picture mb-3">
          {% if user.profile.profile_picture %}
          <img
            src="{{ user.profile.profile_picture.url }}"
            alt="{{ user.username }}"
            class="img-thumbnail rounded-circle"
            style="width: 150px; height: 150px"
          />
          {% else %}
          <p>No profile picture uploaded.</p>
          {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {{ form|crispy }}
          <button type="submit" class="btn btn-primary mt-3">Update Profile Picture</button>
        </form>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Your Favorites</h5>
        <ul class="list-group">
          {% for favorite in favorites %}
          <li class="list-group-item">
            <a href="{% url 'post_detail' favorite.post.slug %}">{{ favorite.post.title }}</a>
          </li>
          {% empty %}
          <li class="list-group-item">You have no favorite posts.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Your Comments</h5>
        <ul class="list-group">
          {% for comment in comments %}
          <li class="list-group-item">
            <a href="{% url 'post_detail' comment.post.slug %}">{{ comment.post.title }}</a>:<br />
            {{ comment.body }}<br />
            <small class="text-muted">{{ comment.created_on|date:"F d, Y, g:i a" }}</small>
          </li>
          {% empty %}
          <li class="list-group-item">You have no comments.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
